<!-- 
- Partials is where we are going to put all our template files 
that are not related to routes but that we include into our other 
files 
- Partials enable you to break down your ejs files into smaller
files and enables you to import these files to other files 
preventing you from duplicating your files
-->

<header>
    <nav>
        <a href="/">BookLib</a>
        <ul>
            <li><a href="/authors">Authors</a></li>
            <li><a href="/authors/new">Add authors</a></li>
        </ul>
    </nav>
</header>














